# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Environment variables (NUNCA subir)
.env

# OS / editor
.DS_Store
.vscode/

# Output gerado pelo projeto
output/
api_uploads/
